body {
  font-family: 'Armata', sans-serif;
}
h1 {
  font-size: 50px;
  text-align: center;
}
.offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.dragon-drop {
  margin: 25px auto;
  width: 80%;
  max-width: 600px;
  min-width: 250px;
  padding: 0;
}
.dragon-drop li {
  list-style-type: none;
  font-size: 25px;
  margin: 10px;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
}
.dragon-drop li span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}
.dragon-drop li .dragon {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  background: transparent;
  font-size: 40px;
}
.dragon-drop li .dragon.drag-on {
  box-shadow: inset 1px 1px 5px;
}
.dragon-drop li .dragon.drag {
  z-index: 99;
  color: #f00;
}
