body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 5em;
  text-align: center;
  margin: 10px 0;
}

header {
  background: #7654C4;
  color: #fff;
  padding: 40px;
  text-align: center;
}

header img {
  width: 200px;
}

.fa-github {
  color: #fff;
  font-size: 55px;
  text-decoration: none;
}

.fa-github:hover {
  transition: color 700ms;
  color: #000;
}

main {
  padding: 25px;
  font-size: 16px;
  max-width: 850px;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  margin: 8px 0;
}

h3 {
  font-size: 2.25em;
  margin: 10px 0;
}

section {
  text-align: center;
}

label {
  vertical-align: middle;
}

button[aria-pressed="true"] {
  box-shadow: inset 0 0 7px #000 !important;
}

li[aria-pressed="true"] {
  background: #7654C4;
  color: #fff;
}

.demo > li.dragon-inactive {
  box-shadow: 0 0 1px #000;
  border-color: transparent;
}

.demo {
  text-align: center;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 20px;
}

.demo > li {
  margin: 15px auto;
  padding: 5px;
  box-shadow: 0 0 2px #000;
  text-align: left;
  list-style: inherit;
}

.handle {
  margin-right: 10px;
  border: 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 1px #000;
  padding: 5px;
  cursor: ns-resize;
}

#demo-2 {
  margin: 0;
  padding: 0;
  max-width: 600px;
  margin: 10px auto;
  margin-bottom: 20px;
}

#demo-2 li {
  text-align: left;
  padding: 8px;
  border-bottom: 2px solid;
}

#demo-2 li,
#demo-3 li {
  cursor: -webkit-grab;
}

#demo-2 li::before {
  display: block;
  font-size: 10px;
  margin-right: 10px;
  font-style: italic;
}

#demo-2 li:nth-of-type(1)::before {
  content: '9:30am';
}

#demo-2 li:nth-of-type(2)::before {
  content: '10:30am';
}

#demo-2 li:nth-of-type(3)::before {
  content: '11:30am';
}

#demo-2 li:nth-of-type(4)::before {
  content: '1:30pm';
}

#demo-2 li:nth-of-type(5)::before {
  content: '4:00pm';
}

#demo-3 {
  text-align: left;
  list-style: circle;
}


#demo-3 .top-level > span {
  border-bottom: 1px solid;
}
.live-log {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  line-height: 18px;
  overflow: auto;
  padding: 7px 5px;
  box-sizing: border-box;
  background: #141414;
  color: #fff;
  opacity: .94;
  display: none;
}

.live-log.active { display: block; }

.offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.dragon-active {
  box-shadow: 0 0 8px #000;
}

pre {
  overflow-y: auto;
  text-align: left;
}

li {
  list-style: none;
}

/**
 * Below are styles for the dragula elements
 */
.gu-mirror {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid;
  text-align: left;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  background: #fff;
  cursor: -webkit-grabbing;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  list-style: none;
}
